<header class="header">
  <a class="brand" href="/">
    <img src="/logo-social.png" alt="DraftVerify logo" class="logo">
    <span>DraftVerify</span>
  </a>
  <nav>
    <a href="/#framework" data-nav="framework">Framework</a>
    <a href="/#categories" data-nav="categories">Categories</a>
    <a href="/standards/" data-nav="standards">Standards</a>
    <a href="/line-tags/" data-nav="line-tags">Line Tags</a>
    <a href="/tower-stickers/" data-nav="tower-stickers">Tower Stickers</a>
    <a href="/pricing/" data-nav="pricing">Pricing</a>
    <a href="/training/" data-nav="training">Training</a>
    <a href="/contact/" class="btn gold" data-nav="contact">Contact</a>
  </nav>
</header>
